{
  "env": {
    "cjs": {
      "presets": [
        [ "@babel/env", {
          "shippedProposals": true
        } ]
      ],
      "plugins": [
        "add-module-exports"
      ]
    },

    "esm": {
      "presets": [
        [ "@babel/env", {
          "modules": false,
          "shippedProposals": true
        } ]
      ]
    },

    "node": {
      "presets": [[ "@babel/env", { "targets": { "node": 6 } } ]],
      "plugins": [
        "add-module-exports",
        ["module-resolver", {
          "alias": {
            "lowline": "lodash",
            "mini-qs": "querystring"
          }
        }]
      ]
    }
  }
}
